

.navbar-default{
    height: 70px;
    background: white;
    box-shadow: 0 1px 3px 0 gray;
    border: 0;
}
.navbar-default .navbar-brand{
    color: #337ab7;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
}
.navbar-default .navbar-nav>li>a{
    color: #777;
    font-weight: 600;
    font-size: 17px;
    line-height: 35px;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #003333;
}
.navbar-default .navbar-toggle{
    background: greenyellow;
}
/*面包屑样式*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: #131212;
}
.navbar-default .navbar-toggle:hover{
    background-color: seagreen;
}

nav span{
    margin-right: 5px;
    vertical-align: middle;
}
/*row1*/
.row1{
    margin-top: 80px;
}
.row1 div>button{
    margin: 10px;
}
.row2 .tab1 thead{
    font-weight: 700;
}
.row2 .list-group{
    margin-bottom: 0;
}
.row2 .list-group>li {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #c5c5c5;
}
.media-1{
    color: white;
}
.row4 .media01{
    background-color: #006699;
}
.row4 .media02{
   background: #4682b4;
}
.row4 .media03{
    background-color: #007788;
}
